@import url(./global.css);

/* Header */
header{
    display: flex;
    width: 100%;
    padding: 16px 200px 16px 200px;
    align-items: center;   
    gap: 220px; 
}

body{
    background-color: var(--color-background);
    color: var(--color-neutral-white);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
}

.header-logo p{
    font-size: var(--headline3);
    font-weight: var(--headline3-weight);
    color: var(--color-neutral-white);    
}

.header-items{
    display: flex;
    list-style: none;
    gap: 21px;
    font-size: var(--headline6);
    font-weight: var(--headline6-weight);
}

.header-items a{
    text-decoration: none;
    color: var(--color-neutral-white);
    transition: 0.5s;
}

.header-items a:hover{
    color: var(--btn-primary);
    font-weight: 700;
    cursor: pointer;
}

.button-container{
    display: flex;
    gap: 45px;
    align-items: center;
}

.button-container a{
    text-decoration: none;
    font-size: var(--btn-text);
    font-weight: var(--btn-weight);
    color: var(--color-neutral-white);
    transition: 0.5s;
}

.button-container a:hover{    
    color: var(--btn-primary);
    font-weight: 700;
    cursor: pointer;
}

.button-container button{
    display: flex;
    font-size: var(--btn-text);
    font-weight: var(--btn-weight);
    color: var(--color-neutral-white);
    background-color: var(--btn-primary);
    width: 220px;
    height: 52px;
    border-radius: 5px;
    padding: 15px 25px;  
    gap: 15px;
    justify-content: center;
    align-items: center;  
    cursor: pointer;
    transition: 0.5s;
}

.button-container button:hover{
    background-color: var(--color-neutral-white);
    color: var(--btn-primary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);    
    font-weight: 700;
    cursor: pointer;   
}

.menu-toggle{
    display: none;
    flex-direction: column;
    gap: 5px;
}
.menu-bar{
    width: 30px;
    height: 5px;
    background-color: var(--color-neutral-white);
    border-radius: 10px;
}

/* Header */

/* Main */
main{
    display: flex;
    padding: 40px 136px 0px 136px;
    color: var(--color-neutral-white);
}

.main-text-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 87.5px;
}

.main-text-container h1{
    font-size: var(--headline1);
    font-weight: var(--headline1-weight);
}

.main-text-container p{
    font-size: var(--headline4);
    font-weight: var(--headline4-weight);
    width: 376px;
}

.main-btn-box{
    display: flex;
    gap: 10px;
}

.main-btn-blue{
    width: 187px;
    height: 52px;
    background-color: var(--btn-primary);
    font-size: var(--btn-text);
    font-weight: var(--btn-weight);
    border-radius: 37px;
    color: var(--color-neutral-white);
    cursor: pointer;
    transition: 0.5s;
}

.main-btn-blue:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);    
    font-weight: 700;
    cursor: pointer;
}

.main-btn-no-bg{
    width: 187px;
    height: 52px;
    background-color: transparent;
    border: 1px solid var(--color-neutral-white);
    font-size: var(--btn-text);
    font-weight: var(--btn-weight);
    border-radius: 37px;
    color: var(--color-neutral-white);
    cursor: pointer;
    transition: 0.5s;
}

.main-btn-no-bg:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);    
    font-weight: 700;
    cursor: pointer;
}

/* Main */

/* Better Strategy */
.better-strategy{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 69px;
    margin-bottom: 100px;
}

.better-text{
    gap: 10px;
}

.better-text h2{
    text-align: center;
    font-size: var(--headline2);
    line-height: var(--line-height-h2);
    font-weight: var(--headline2-weight);
}

.better-text p{
    text-align: center;
    color: var(--color-text);
    font-size: var(--paragraph);
    line-height: var(--line-height-p);
    font-weight: var(--paragraph-weight);
}

.better-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid-card{
    display: flex;
    gap: 19px;
    padding: 35px 27px 35px 20px;
    border: 1px solid var(--color-border);
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-text p{
    width: 240px;
}
/* Better Strategy */

/* What Clients */
.what-clients{
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    gap: 80px;
}

.what-title{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.what-title h2{
    font-size: var(--headline2);
    font-weight: var(--headline2-weight);
    line-height: var(--line-height-h2);
}

.what-title p{
    font-size: var(--paragraph);
    font-weight: var(--paragraph-weight);
    line-height: var(--line-height-p);
}

.regina-box{
    background-color: var(--color-neutral-white);
    width: 744px;
    height: 362px;
    padding: 40px 35px;
    border-radius: 5px;
}

.regina-box h3{
    font-size: var(--headline3);
    font-weight: var(--headline3-weight);
    line-height: var(--line-height-h3);
    color: black;
    margin-bottom: 8px;
    margin-top: 15px;
}

.regina-box img:nth-of-type(1){
    margin-bottom: 30px;
}

.regina-box p{
    color: var(--color-text);
    margin-bottom: 15px;
}
/* What Clients */

/* Download */
.download-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin-top: 159px;
}

.download-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.download-title h2{
    font-size: var(--headline2);
    font-weight: var(--headline2-weight);
    line-height: var(--line-height-h2);
}

.download-title p{
    font-size: var(--paragraph);
    font-weight: var(--paragraph-weight);
    line-height: var(--line-height-p);
}

.app-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.app-container{
    display: flex;
    gap: 25px;
    border: 1px solid var(--color-border2);
    padding: 18px 28px;
    border-radius: 10px;
    align-items: center;
}

.app-text p{
    width: 130px;
    text-align: start;
    font-size: var(--btn-text);
    font-weight: var(--btn-weight);
    line-height: var(--line-height-btn);
}

.app-text span{
    font-size: var(--headline5);
    font-weight: var(--headline5-weight);
    line-height: var(--line-height-h5);
}
/* Download */

/* Pricing */
.pricing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 96px;
    margin-top: 200px;
}

.pricing-title h2{
    font-size: var(--headline2);
    font-weight: var(--headline2-weight);
    line-height: var(--line-height-h2);
}

.pricing-title p{
    font-size: var(--paragraph);
    font-weight: var(--paragraph-weight);
    line-height: var(--line-height-p);
}

.pricing-cards{
    display: flex;
    gap: 30px;    
}

.card-container{
    display: flex;
    background-color: var(--color-neutral-white);
    border-radius: 10px;
    padding: 50px;
    gap: 30px;
}

.card-left-column{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 15px;
}

.card-left-column h3{
    font-size: var(--headline3);
    font-weight: var(--headline3-weight);
    line-height: var(--line-height-h3);
    color: var(--btn-primary);
    text-transform: uppercase;
}

.card-left-column p{
    font-size: var(--paragraph);
    font-weight: var(--headline6-weight);
    line-height: var(--line-height-p);
    color: var(--color-text);
    width: 217px;
}

.card-right-column{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card-right-column button{
    padding: 15px 40px;
    border-radius: 5px;
    background-color: var(--btn-primary);
    color: var(--color-neutral-white);
    font-size: var(--btn-text);
    font-weight: var(--btn-weight);
    line-height: var(--line-height-btn);
}

.card-price{
    display: flex;
    gap: 10px;
}

.card-price h4{
    font-size: var(--headline2);
    font-weight: var(--headline2-weight);
    line-height: var(--line-height-h2);
    color: var(--btn-primary);
}

.text{
    text-align: start;
}

.text h5{
    font-size: var(--headline5);
    font-weight: var(--headline5-weight);
    line-height: var(--line-height-h5);
    color: var(--btn-primary);    
}

.text p{
    font-size: var(--headline6);
    font-weight: var(--headline6-weight);
    line-height: var(--line-height-h6);
    color: var(--color-light-blue);
}
/* Pricing */

/* World */
.world-container{
    display: flex; 
    justify-content: center;
    gap: 152px;
    margin-top: 220px;
}

.world-text{
    display: flex;
    flex-direction: column;
    padding: 50px 0px 50px 0px;
    gap: 15px;
}

.world-text h2{
    font-size: var(--headline2);
    font-weight: var(--headline2-weight);
    line-height: var(--line-height-h2);  
    width: 465px;  
}

.world-text p{
    font-size: var(--paragraph);
    font-weight: var(--paragraph-weight);
    line-height: var(--line-height-p);
    width: 455px;
}
/* World */

/* Appointment*/
.appointment-container{
    display: flex;
    justify-content: center;
    margin-top: 151px;
}

.form-container{
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    align-items: center;
    background-color: var(--color-neutral-white);
    gap: 40px;
}

.form-container h2{
    font-size: var(--headline3);
    font-weight: var(--headline3-weight);
    line-height: var(--line-height-h3); 
    color: var(--color-background);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label{
    font-size: var(--headline6);
    font-weight: var(--headline6-weight);
    line-height: var(--line-height-h6);
    color: var(--color-background);
}

form input{
    width: 507px;
    height: 50px;
    border-radius: 5px;
    padding-left: 23px;
    background-color: var(--color-input-box);
}

form select{
    width: 507px;
    height: 50px;
    border-radius: 5px;
    padding: 0px 23px;
    background-color: var(--color-input-box);
    color: var(--color-text);
}

.form-container button{
    width: 510px;
    height: 52px;
    border-radius: 5px;
    background-color: var(--btn-primary);
    color: var(--color-neutral-white);
    font-size: var(--btn-text);
    font-weight: var(--btn-weight);
    line-height: var(--line-height-btn);
}
/* Appointment*/



